html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

:root {
  --main-font: "Quattrocento Sans", sans-serif;
  --font-color: white;
  --background-color: #191919;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}

.container {
  display: flex;
  gap: 5rem;
  /* background-color: rgba(219, 219, 219, 0.226); */
  box-sizing: border-box;
  color: var(--font-color);
}

.left-side {
  background-image: url(images/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 100vh;
}

.logo {
  position: relative;
  background-color: rgba(0, 0, 0, 0.575);
  width: 40vw;
  height: 2em;
  top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  font-family: norse-bold;
  letter-spacing: 0.5rem;
}

.logo > img {
  height: 9rem;
}

.dummy-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 8vh;
  width: 50vw;
}

.dummy-text > p {
  margin-top: 4vh;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  box-shadow: -5rem 0px 0px 0px #202020;
}

.left-inputs,
.right-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 14rem;
}

.form {
  margin-top: 10vh;
}

input {
  border: 1px solid rgba(105, 105, 105, 0.267);
  margin-bottom: 1.5rem;
  width: 18rem;
  height: 1.8rem;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 1rem;
  margin-top: 0.3rem;
}

input:focus {
  outline: none;
  border-color: rgba(75, 75, 253, 0.8);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.479);
}

label {
  font-size: 0.9rem;
}

button[type="submit"] {
  align-self: flex-start;
  border: none;
  background-color: #2d4263;
  padding: 15px 55px 15px 55px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin: 3vh 0 1vh 0;
}
.bottom > p > a {
  text-decoration: none;
  color: #c84b31;
  font-weight: bold;
}
